<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Bheki Ndlovu - Dev" />
        <title>about myself</title>
        <link rel="stylesheet" href="about.css" />

    </head>

    <body>
        <div class="about-wrapper">
            <div class="about-card">
                <a href="/" class="back-link">←</a>

                <h2>A bit about myself</h2>

                <p>
                    thank you for stopping by!! i like going on random tangents when i write, 
                    so i'm not sure if this is the best way to write about myself. but hey,
                    i'm going to try and keep this as short as possible. i'm a engineering
                    recent grad from the uni of york (uk). during my time at uni, i became fascinated by the connection between math 
                    and code; how complex algorithms could be derived from elegant mathematical
                    foundations. 
                </p>

                <p>
                    this blend of engineering, math, and code pulled me deeper into programming,
                    where i found my passion for machine learning, scientific computing, and emerging
                    world of AI. since graduating i have been exploring the AI space more intentionally
                    learning more about building AI-agentic systems. 
                </p>

                <p><strong>what you will find me doing:</strong></p>

                <p class="indent">
                    <span class="status online">
                        <span class="status-dot-online"></span>
                        online
                    </span>
                    &nbsp;find me building web apps, working on agentic generative-AI projects, and experimenting with new tech 👀
                </p>

                <p class="indent">
                    <span class="status-offline">
                        <span class="status-dot-offline"></span>
                        offline
                    </span>
                    &nbsp;find me reading 📖, spending time with 🫶🏾, and learning to produce deep-house music 🎧
                </p>

                <p>
                    i'm still shaping my place in this fast-moving era of technology, but i'm grateful it 
                    led me to a keyboard and a love for code.
                </p>

                <p><strong>what i currently do</strong></p>
                <ul>
                    <li>learning machine learning & development of AI agentic applications</li>
                    <li>learning data science</li>
                    <li>open source contributions</li>
                    <li>endlessly debugging code while building side projects</li>
                </ul>
            </div>      
        </div>
    </body>
</html>

